apiVersion: apps/v1
kind: Deployment
metadata:
  name: banking-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: banking-backend
  template:
    metadata:
      labels:
        app: banking-backend
    spec:
      containers:
      - name: backend
        image: acesme/bank-backend:latest # Thay bằng image của bạn
        imagePullPolicy: Always
        ports:
        - containerPort: 8180 # Khớp với server.port
        env:
        # --- CẤU HÌNH SERVER ---
        - name: SERVER_PORT
          value: "8180"

        # Lưu ý: 'mysql-service' là tên Service DB mình sẽ tạo ở dưới
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://database-bank.cx0i6ek4snnj.ap-southeast-1.rds.amazonaws.com:3306/bankingapp?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false"
        - name: SPRING_DATASOURCE_USERNAME
          value: "admin"
        - name: SPRING_DATASOURCE_PASSWORD
          value: "12345678" # (Nên dùng K8s Secret, nhưng để tạm đây cho dễ hiểu)
        
        # --- CẤU HÌNH JWT ---
        - name: JWT_SECRET
          value: "ZGFsBGFtb3RjahVvaUJpTWF0UmF0R6FpVmFBb1RvYW5Da69VbmdEdW5nNmdhbhhbmcxMjMh"
        - name: JWT_EXPIRATION
          value: "86400000"
        
        # --- CẤU HÌNH MAIL ---
        - name: SPRING_MAIL_HOST
          value: "smtp.gmail.com"
        - name: SPRING_MAIL_PORT
          value: "587"
        - name: SPRING_MAIL_USERNAME
          value: "electronicncs@gmail.com"
        - name: SPRING_MAIL_PASSWORD
          value: "pzncxrpzllnowaih"
        
        # --- CẤU HÌNH KHÁC ---
        - name: GEO_API_URL  # <--- BẠN ĐANG THIẾU DÒNG NÀY
          value: "https://api.findip.net/"
        - name: GEO_API_KEY
          value: "b9b94488c35a4e5d8295ec5d6d86806f"
        # Các config mặc định như ddl-auto, driver... thường để trong code build sẵn cũng được
        # Nhưng nếu muốn override thì thêm vào đây.

---

# Service cho Backend
apiVersion: v1
kind: Service
metadata:
  name: banking-backend-svc
spec:
  type: ClusterIP
  selector:
    app: banking-backend
  ports:
    - port: 8180       # App khác gọi vào cổng này
      targetPort: 8180 # Chuyển vào container cổng 8180
