apiVersion: apps/v1
kind: Deployment
metadata:
  name: banking-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: banking-backend
  template:
    metadata:
      labels:
        app: banking-backend
    spec:
      containers:
      - name: backend
        image: acesme/bank-backend:latest # Thay bằng image của bạn
        imagePullPolicy: Always
        resources:
          requests:
            memory: "256Mi" # Cấp tối thiểu
            cpu: "200m"     # Cấp tối thiểu 0.2 CPU
          limits:
            memory: "768Mi" # Không cho vượt quá (tránh OOM Node t3.small)
            cpu: "500m"     # Không cho vượt quá 0.5 CPU
        ports:
        - containerPort: 8180 # Khớp với server.port
        env:
        # --- CẤU HÌNH SERVER ---
        - name: SERVER_PORT
          value: "8180"
        - name: SPRING_JPA_HIBERNATE_DDL_AUTO
          value: "update"

        - name: SPRING_JPA_DATABASE_PLATFORM
          value: "org.hibernate.dialect.MySQL8Dialect"
          
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://database-bank.cx0i6ek4snnj.ap-southeast-1.rds.amazonaws.com:3306/bankingapp?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false"
        - name: SPRING_DATASOURCE_USERNAME
          value: "admin"
        - name: SPRING_DATASOURCE_PASSWORD
          value: "12345678"
        
        # --- CẤU HÌNH JWT ---
        - name: JWT_SECRET
          value: "ZGFsBGFtb3RjahVvaUJpTWF0UmF0R6FpVmFBb1RvYW5Da69VbmdEdW5nNmdhbhhbmcxMjMh"
        - name: JWT_EXPIRATION
          value: "86400000"
        
        # --- CẤU HÌNH MAIL ---
        - name: SPRING_MAIL_HOST
          value: "smtp.gmail.com"
        - name: SPRING_MAIL_PORT
          value: "587"
        - name: SPRING_MAIL_USERNAME
          value: "electronicncs@gmail.com"
        - name: SPRING_MAIL_PASSWORD
          value: "pzncxrpzllnowaih"
        - name: SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH
          value: "true"
        - name: SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE
          value: "true"
        # --- CẤU HÌNH KHÁC ---
        - name: GEO_API_URL  # <--- BẠN ĐANG THIẾU DÒNG NÀY
          value: "https://api.findip.net/"
        - name: GEO_API_KEY
          value: "b9b94488c35a4e5d8295ec5d6d86806f"

---

# Service cho Backend
apiVersion: v1
kind: Service
metadata:
  name: banking-backend-svc
spec:
  type: ClusterIP
  selector:
    app: banking-backend
  ports:
    - port: 8180       # App khác gọi vào cổng này
      targetPort: 8180 # Chuyển vào container cổng 8180
